<body class="container">
    <div class="image-container">
      <div class="floating-image"></div>
      <img src="https://cdn.pixabay.com/photo/2023/11/29/12/29/kid-8419485_1280.jpg" alt="Child-friendly illustration" class="floating-image" width="500"/>
    </div>
    <div class="registration-container">
      <a [routerLink]="['/home']"><h1>ELLP</h1></a>
      <h2>Geração de Certificado</h2>
      <form [formGroup]="certificationForm" (ngSubmit)="verificarPresenca()">
        <div>
          <select id="aluno" formControlName="aluno">
            <option value="" disabled selected>Selecione um aluno</option>
            <option *ngFor="let aluno of alunos" [value]="aluno.id">
              {{ aluno.nome }}
            </option>
          </select>
        </div>
        <div>
          <select id="workshop" formControlName="workshop">
            <option value="" disabled selected>Selecione um workshop</option>
            <option *ngFor="let workshop of workshops" [value]="workshop.id">
              {{ workshop.nome }}
            </option>
          </select>
        </div>
        <button type="submit">Gerar Certificado</button>
      </form>
      <div *ngIf="mensagem" class="error-message">{{ mensagem }}</div>
      <div *ngIf="certificadoLink">
        <a [href]="certificadoLink" target="_blank">Visualizar Certificado</a>
      </div>
    </div>
  </body>
  