<body class="container">
  <div class="image-container">
    <img src="https://cdn.pixabay.com/photo/2023/11/29/12/29/kid-8419485_1280.jpg" alt="Child-friendly illustration" class="floating-image" width="500"/>
  </div>
  <div class="registration-container">
    <h1>ELLP</h1>
    <h2>Cadastro de Estudantes</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div>
        <input
          id="name"
          type="text"
          formControlName="name"
          [class.invalid]="name?.invalid && name?.touched"
          placeholder="Nome:"
        />
        <div class="error-message" *ngIf="name?.invalid && name?.touched">
          <small *ngIf="name?.errors?.['required']">O nome é obrigatório.</small>
          <small *ngIf="name?.errors?.['minlength']">Minimo de 3 caracteres.</small>
        </div>
      </div>
      <div>
        <input
          id="document"
          type="text"
          formControlName="document"
          [class.invalid]="document?.invalid && document?.touched"
          placeholder="CPF:"
        />
        <div class="error-message" *ngIf="document?.invalid && document?.touched">
          <small *ngIf="document?.errors?.['required']">O CPF é obrigatório</small>
          <small *ngIf="document?.errors?.['minlength']">Minimo de 5 caracteres.</small>
          <small *ngIf="document?.errors?.['maxlength']">Maximo de 20 caracteres</small>
        </div>
      </div>
      <div>
        <input
          id="phone"
          type="text"
          formControlName="phone"
          [class.invalid]="phone?.invalid && phone?.touched"
          placeholder="Telefone:"
        />
        <div class="error-message" *ngIf="phone?.invalid && phone?.touched">
          <small *ngIf="phone?.errors?.['pattern']">Entre com um número de telefone válido</small>
        </div>
      </div>
      <button type="submit" [disabled]="studentForm.invalid">Cadastrar</button>
    </form>
    <p>Deseja sair da conta? <a [routerLink]="['/login']">Clique aqui para deslogar.</a></p>
  </div>
</body>
